.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
brancheja/application/config/autoload.php
brancheja/application/controllers/booking_controller.php
brancheja/application/controllers/email_controller.php
brancheja/application/controllers/homepage.php
brancheja/application/controllers/inputkodebooking_c.php
brancheja/application/models/login_pg.php
brancheja/application/views/booking.php
brancheja/application/views/homepage_customer.php
brancheja/view/RegisterPeg.php
brancheja/view/homepage_customer.php
brancheja/view/css/booking.css
brancheja/view/booking.php
brancheja/view/booking.html
brancheja/css/booking.css
brancheja/application/views/thankyou.php
brancheja/application/views/Register.php
brancheja/application/views/login_pegawai.php
brancheja/application/views/index(2).php
brancheja/application/views/daftar_customer.php
brancheja/application/models/Salon.php
brancheja/application/models/homepage_model.php
brancheja/application/models/book.php
brancheja/application/controllers/Web.php
brancheja/application/controllers/login_peg_control.php
brancheja/application/models/inputkodebooking_m.php
brancheja/application/views/inputkodebooking.php
brancheja/application/views/RegisterPeg.php
application/config/database.php
application/config/database.php
application/libraries/Datatables.php
application/config/database.php
application/config/database.php
application/config/database.php
tubesWebBackend.zip
application/config/database.php
.vscode/settings.json
